data/eval/eval_pass1.csv filter=lfs diff=lfs merge=lfs -text
data/eval/eval_pass2.csv filter=lfs diff=lfs merge=lfs -text
data/iaa/eval_pass1.csv filter=lfs diff=lfs merge=lfs -text
data/iaa/eval_pass2.csv filter=lfs diff=lfs merge=lfs -text
data/generations/** filter=lfs diff=lfs merge=lfs -text
